.expense-date {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 20px;
  height: 5rem;
  width: 5rem;
  font-weight: bold;
  color: black;
  border: #316636;
  border-style: solid;
  border-width: 0.1rem;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
@media (max-width: 550px) {
  .expense-date {
    border-radius: 20px;
    display: flex;
    font-size: 15px;
  }
}
