.expense-unit {
  background-color: rgba(0, 0, 0, 0.5);
  height: 7rem;
  width: 30rem;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
}
@media (max-width: 550px) {
  .expense-unit {
    background-color: rgba(0, 0, 0, 0.5);
    height: 7rem;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
  }
}
